html {
  background-color: #000000;
  padding-inline: 20%;
  padding-block: 2%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  /* @media (max-width: 500px) {
    padding: 0;
  } */
}

.profile-img {
  width: 120px;
  border-radius: 100px;
}

h1 {
  color: rgb(253, 253, 253);
  font-size: 25px;
}
h2 {
  color: #afafaf;
  font-size: 18px;
}
/* whatsapp button */
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}
